/*Index Style*/
body {
	font-family: Arial, sans-serif;
	background-color: #Fdfff5;
	margin: 0;
	padding: 0;
  }
/*.quivou {
	list-style: none;
	font-weight: bold;
}*/

.button {
	background-color: #ffe500;
}


 .button{
	display: inline-block;
    padding: 10px 80px;
    border: none;
    background-color: #ffe500;
    border-radius: 20px;
	font-weight: bold;
 }
 .button:hover {
	background-color: #ffe500;
	
 }
 .lm{
	display: inline-block;
    border: none;
    background-color: white;
    border-radius: 20px;
	font-weight: bold;
 }
 .container.about{
	display: inline-block;
	/* margin-left: 25%; */
	/* margin: auto 0; */
	padding: 20px 20px;
	width: 30%;
    border: none;
    background-color: #ffe500;
    border-radius: 20px;
	
 }
 /*.quivou{
	position: relative;
	right: 25%;
 }*/
 
   p{
	width: 200px;
	text-decoration: none;
   }
   
#nav-mobile li a {
	color: black;
	font-weight: bold;
	
  }
  .container.learn.more a{
    color: black;
    font-weight: bold;}
  

.container {
	text-align: center;
  }
  
  .container img {
	display: block;
	margin: 0 auto;
	text-align: end;
	width: 250px;
	height: 250px;
  }
  
  .lm{
	text-align: right;
  }
  
#nav-mobile {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 10%;
  }
  
#nav-mobile li {
	margin-left: 10px;
  }
  
#nav-mobile li:first-child {
	margin-left: 20 px;
  }

#nav-mobile {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
#nav-mobile li {
	margin-left: 10px;
  }
  
#nav-mobile li:first-child {
	margin-left: 0;
  }
  
#nav-mobile li.logo a {
	color: #000;
	font-weight: bold;
  }
  
.yellow-text {
	color: #ffe500;
  }

.container{
	position: relative;
	/* right: 25%; */
}
  .button{
	position: relative;
	left: -30%;
  }
  p{
	position: relative;
	left:12%
  }
  h2{
	position: relative;
	/* left: 5.2%; */
	font-size: 30px;
    font-family: Arial, sans-serif;
  }
  .more {
	text-align: center;
	font-size: 15px;
	left: 20%;
  }
  h3{
	position: relative;
	left: 6.2%;
	font-weight: bold;
	font-size: 30px;
    font-family: Arial, sans-serif;
	
  }
  h1{
	font-size: 1000px;
    font-family: Arial, sans-serif;
	position: relative;
	font-weight: bold;
	left: -15%;
  }
  .play {
	text-align: left;
	font-size: 15px;
	left: -20%;
  }
  a{
	position: relative;
	text-align: center;
	/* left: 40%; */
	
  }
  a.lm{
	display: inline-block;
	padding: 5px 35px;
	color: black;
	text-align: center;
  }
  
.logo{
	float: left;
    position: relative;
    left: 13%;
	height: 60px;
	width: 135px;
}
li {
	padding: 10px 20px;
    display: inline-block;
  }
  
  li:last-child {
	margin-right: 0;
  }
  
  li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
  }
  
  li a:hover {
	color: #ff0000;
  }
  /*p {
	text-align: left;
	font-size: 15px;

  }*/
  .coba {
	width: 250px;
	font-weight: bold;
  }
  
  .nav-wrapper {
	background-color: #d9d9d9;
	padding: 10px;
	height: 60px;
}

.nav-wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

.nav-wrapper li {
	display: inline-block;
	margin-right: 10px;
}

.nav-wrapper li a {
	color: #000;
	text-decoration: none;
}

/*ul li a:hover {
    background-color: #ffe500;
    color: #FFFFFF;
	padding: 25px, 20px;
}*/
