body {
	font-family: Arial, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
  }
   
#nav-mobile li a {
	color: black;
	font-weight: bold;
	
}

#nav-mobile {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 10%;
  }
  
#nav-mobile li {
	margin-left: 10px;
  }
  
#nav-mobile li:first-child {
	margin-left: 20 px;
  }

#nav-mobile {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
#nav-mobile li {
	margin-left: 10px;
  }
  
#nav-mobile li:first-child {
	margin-left: 0;
  }
  
#nav-mobile li.logo a {
	color: #000;
	font-weight: bold;
  }
  
h1 {
	margin-left: 145px;
	padding-top: 50px;
}

a{
	position: relative;
	text-align: center;
	
}
 
.logo{
	float: left;
    position: relative;
    left: 13%;
	height: 60px;
	width: 135px;
}
li {
	padding: 10px 20px;
    display: inline-block;
}
  
li:last-child {
	margin-right: 0;
}
  
li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.nav-wrapper {
	background-color: #d9d9d9;
	padding: 10px;
	height: 40px;
	box-shadow: 0px 3px 2px rgba(80, 79, 79, 0.4);
}

.nav-wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

.nav-wrapper li {
	display: inline-block;
	margin-right: 10px;
}

.nav-wrapper li a {
	color: #000;
	text-decoration: none;
}
.container {
	position: relative;
	border: 0.2px solid #0b0b0b; 
	padding:50px 20px; 
	width: 1280px; 
	margin:20px auto; 
	border-radius: 15px;
	text-align: left;
	font-size: 130%;
  }
