body {
	font-family: Arial, sans-serif;
	background-color: #Fdfff5;
	margin: 0;
	padding: 0;
  }
img.kiri{
    position: relative;
    left: 18.75%;
}
.box {
    display: block;
	padding: 20px 20px;
	width: 800px;
    height: 200px;
    border: none;
    background-color: #ffE500;
    border-radius: 40px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 2px rgba(80, 79, 79, 0.4);
} 
.text-center {
    text-align: center;
    margin: 7%;
}

.btn{
    display: block;
	padding: 20px 20px;
	width: 840px;
    height: 70px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 40px;
    color:#222;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    box-shadow: 0px 3px 2px rgba(80, 79, 79, 0.4);
    transition: all 0.3s;
    margin:10px auto 0;
}

.btn:hover {
	background-color: #ffE500 
}

.lower {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #e7e7e7;
}

#next-btn{
    background: #ffE500;
    color:#000;
    width: 120px;
    height:50px;
    border:0;
    padding:10px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 270px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
    display: block;
}

.correct{
    background: greenyellow;
}

.incorrect{
    background: red;
}